SUPABASE_URL=https://ptehlkoovecphilchzcj.supabase.co
SUPABASE_SERVICE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InB0ZWhsa29vdmVjcGhpbGNoemNqIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3OTMzNDI5MiwiZXhwIjoyMDk0OTEwMjkyfQ.sbL0NDij4nafpRTasWDY2r-pTCeZCaa0Sgs2g9xxQNg
JWT_SECRET=desarrollo-local-secreto-cerezos-2026
